._1sk6,.b3i9ofy5,._o46, ._6cj3, ._5w0o ,._4po6,._5wd4 ,._40qi, ._4tdt ,._6--1 ,._4po9 ,._5w-5 ,.fbNubFlyoutFooter ,._4gd0 ,.accessible_elem ,._31o4 ,._4gx_  ,._8rnv ,._3e7u ,._40fu ,._5w1r ,._3_om,._4tdx,._4tdv,._1ekr,._aou,._69pt{    border-color: #333131 !important;
    background: #333131 !important;
    color: aliceblue;
}

._1aa6 {
    overflow: hidden;
}
._1aa6:after{
    border-color: #333131 !important;
}

._5pb8, ._7049, ._4ejc, .fbChatTypeahead, ._6c7i, ._7gpu, ._7gpy,._3l-q,._6859,.cwj9ozl2 {
    background: black !important;
}

._58al, ._58al::placeholder, ._7gsp, ._7gpb, ._7gq0, ._6qw3, ._42ef, ._3d2q, ._129h, ._3l-q,._3zsi, ._202, ._401d {
    background: black !important;
    color: white !important;
}

._1aa6:first-child{
    border-color: #333131 !important;
    background: #222222  !important;
    color:black !important;
}

._3hx- ._3_bp,.__6j,._52kr, .__6j * {
    background: aquamarine !important;
    color: black !important;
}

.commentable_item ._7ray{
    background: black !important;
}